table, td, th {
    border: 1px solid white;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    height: 70px;
    color: rgb(200, 200, 200);
}

tr {
    height: 30px;
    color: rgb(200, 200, 200);
}